
#body{
    margin-left: 90px;
}
#body h1{
  margin-left: 220px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}
#content img{
    height:600px;
    width: 1400px;
}
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }